<ion-content class="flex items-center justify-center h-full">
  <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="w-[90%]">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button (click)="login()" >Log In</button>

    </form>
</ion-content>
