<ion-content class="flex items-center justify-center h-full">
  <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="w-[90%]">
        <h3>Connexion</h3>

        <label for="username">Pseudo</label>
        <input name="pseudo" [(ngModel)]="pseudo" type="text" placeholder="Votre pseudo" id="pseudo">

        <label for="password">Numero de telephone</label>
        <input name="phone" [(ngModel)]="phone" type="tel" placeholder="Votre numero" id="phone">

        <button (click)="login(pseudo,phone)" >Se connecter</button>

    </form>
</ion-content>
