<ion-content class="h-full overflow-hiddenc">

  <div class="flex fixed h-12 w-full">
    <div class="h-full font-extrabold text-2xl text-black ml-2 py-3 w-18">Read4Me</div>
    <i class="text-blue-800 text-2xl ml-[20%] mt-3 fas fa-search"></i>
    <i class="text-blue-800 text-3xl ml-[10%] mt-2 fas fa-language" (click)="toggleLanguageSelection()"></i>
    <i class="fas"
      [ngClass]="{'fa-bars': !isOpenMenu, 'fa-times': isOpenMenu, 'text-2xl text-blue-800 mt-2 ml-10': true}"
      (click)="openMenu()"></i>
  </div>

  <div class="language-selection mt-7 ml-[64%] max-w-[25%] fixed">
    <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()" class="text-blue-900">
      <ion-select-option value="fr-FR">Français</ion-select-option>
      <ion-select-option value="en-US">English</ion-select-option>
    </ion-select>
  </div>

  <div *ngIf="isOpenMenu"
    class="fixed right-0 mt-10 w-40 h-36 rounded-br-md rounded-bl-md bg-[#000070] z-30"
    [ngClass]="{'translate-x-0': isOpenMenu, '-translate-x-full': !isOpenMenu}">
    <div class="flex mt-4 ml-2 gap-3">
      <i class="text-white fas fa-history py-1"></i>
      <p class="font-bold text-white">Historique</p>
    </div>
    <div class="flex mt-4 ml-2 gap-3">
      <i class="text-white fas fa-cogs py-1"></i>
      <p class="font-bold text-white">Paramètres</p>
    </div>
    <div class="flex mt-4 ml-2 gap-3">
      <i class="text-red-600 fas fa-sign-out-alt py-1"></i>
      <p class="font-bold text-white">Déconnexion</p>
    </div>
  </div>


  <ng-container *ngIf="isDivVisible">
    <div class="fixed w-72 h-36 mt-44 ml-10 rounded-md bg-[#000070] z-50">
      <label class="ml-5 font-extrabold" for="">Titre</label><br />
      <input [(ngModel)]="title"
        class="bg-white text-xl rounded-md focus:border border-yellow-400 border-2 text-black w-[85%] ml-5 mt-3"
        type="text" (click)="writeTitle()">
      <button class="bg-yellow-400 ml-[33%] w-28 rounded-md text-black font-extrabold py-2 mt-5"
        (click)="saveNewText()">Sauvegarder</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isPublicDivVisible">
    <div class="fixed w-72 h-36 mt-44 ml-10 rounded-md bg-[#000070] z-50">
      <label class="ml-5 font-extrabold" for="">Titre</label><br />
      <input [(ngModel)]="title"
        class="bg-white text-xl rounded-md focus:border border-yellow-400 border-2 text-black w-[85%] ml-5 mt-3"
        type="text" (click)="writeTitle()">
      <button class="bg-yellow-400 ml-[33%] w-28 rounded-md text-black font-extrabold py-2 mt-5"
        (click)="saveNewPublicText()"></button>
    </div>
  </ng-container>

  <div
    class="txt-cntnt fixed rounded-md border border-solid ml-[2.5%] border-yellow-400 border-3 w-[95%] h-[45%] mt-[18%]">
    <div class="ml-auto rounded-tl-md rounded-tr-md mr-auto w-full h-[75%] bg-white text-black"> <ion-textarea
        class="w-full h-full" [(ngModel)]="textToRead" placeholder="Write your text here" [(ngModel)]="textToRead"
        rows="6" (click)="closeModals()"></ion-textarea> </div>

    <div class="flex w-full md:w-96 items-center justify-center gap-10 mt-2">
      <i class="text-2xl text-yellow-400 fas fa-save" (click)="writeTitle()" (click)="toggleDivVisibility()"></i>
      <button class="read w-16 bg-yellow-400 text-black h-16 ml-6 rounded-full" expand="full" (click)="speak()">
        <i class="fas" [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying, 'text-2xl': true}"></i>
      </button>
      <i class="text-2xl text-yellow-400 fas fa-paper-plane" (click)="togglePublicDivVisibility()"></i>
      <i class="text-2xl text-yellow-400 fas fa-plus" (click)="addNewText()"></i>
    </div>
  </div>

  <div *ngIf="isOptionsOpen" class="fixed w-32 h-32 bg-[#000070] right-12 mt-[108%] rounded-md font-extrabold z-30">
    <div class="ml-4">
      <p class="mt-3">Lire</p>
      <p class="mt-3">Publier</p>
      <p class="mt-3 text-red-600">Supprimer</p>
    </div>
  </div>

  <div class="bg-transparent mt-[100%] h-[50%] w-[95%] ml-auto mr-auto">
    <div class="h-full overflow-y-scroll">
      <div *ngFor="let text of texts" class="custom-scroll-item">
        <div class="rounded-md flex bg-yellow-300 hover:cursor-pointer h-10 text-black my-2 font-extrabold py-2"
          (click)="setTextToRead(text.content)" (click)="closeModals()">
          <p class="ml-4">{{text.title}}</p>
          <i class="ml-auto mr-5 text-xl fas fa-ellipsis-v" (click)="optionsTextOpen($event)" ></i>
        </div>
      </div>
    </div>
  </div>

</ion-content>
