<ion-header class="flex justify-center">
  <ion-toolbar>
    <ion-title>
      Lecture de texte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex flex-col items-center">
  <div class="w-[25%] mx-auto mt-80">
    <ion-item>
      <ion-label position="floating">Texte à lire</ion-label>
      <ion-input [(ngModel)]="textToRead"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Langue</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()">
        <ion-select-option *ngFor="let language of languages" [value]="language.lang">{{ language.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Voix</ion-label>
      <ion-select [(ngModel)]="selectedVoice">
        <ion-select-option *ngFor="let voice of voices" [value]="voice">{{ voice.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="speakText()" [disabled]="speaking">
      {{ speaking ? 'Pause' : 'Lire' }}
    </ion-button>

    <ion-button expand="full" (click)="stopSpeech()" [disabled]="!speaking">
      Arrêter
    </ion-button>
  </div>
</ion-content>
