ion-content{
  --ion-background-color: linear-gradient( #FFFF, #000070);
  // --background: url("../../assets/wave-frequency.gif") center/cover no-repeat fixed;
  background-size: 100% 100%;
}

.txt-cntnt{
  background-color: #000070;
}
